@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/portada3.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: 'League Spartan', sans-serif;
  filter: brightness(70%) saturate(120%);
}

.container-card {
  text-align: center;
  background: rgba(255, 255, 255, 0.9); 
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
}

.welcome-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #2F4156;
  margin-bottom: 20px;
}

.welcome-subtitle {
  font-size: 2rem;
  font-weight: 500;
  color: #567C8D;
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 1.2rem;
  color: #567C8D;
  margin-bottom: 30px;
  line-height: 1.6;
}

.button-container {
  display: flex;
  justify-content: center;
}

.welcome-button {
  padding: 12px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.welcome-button:hover {
  background-color: #0d6efd; 
  transform: translateY(-3px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}